<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        

        <h1>Codeial / <%= title %></h1>

        <section id = "feed-posts">
            <h4>POSTS</h4>
            <% if (locals.user) { %>
            <form action="/post/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="type here...." required></textarea>
                <input type="submit" value="Post">
            </form> 
            <% } %>

            
    <div id="posts-list-container">
        <ul>
            <% for(post of posts){%>
            <li>
                <p>
                    <% if(locals.user && locals.user.id == post.user.id) { %>
                    <small>
                        <a href="/post/destroy/<%= post.id %>">X</a>
                    </small>
                    <% } %>
                    <%= post.content %>
                    <br>
                    <small>
                        <%= post.user.name %>
                    </small>
                </p>
                <div>
                    <% if(locals.user){ %>
                        <form action="/comments/create" method="POST">
                            <input type="text" name="content" placeholder="add comment here..." required>
                            <input type="hidden" name="post" value="<%= post.id %>">
                            <input type="submit" value="Add Comment">


                        </form>
                        
                        <% } %>
                        <div class="post-comments">
                            <ul id="post-comments-<%= post.id %>">
                                <% for(comment of post.comments) { %>
                                    <p>
                                        <% if(locals.user && locals.user.id == comment.user.id) { %>
                                            <small>
                                                <a href="/comments/destroy/<%= comment.id %>">X</a>
                                            </small>
                                            <% } %>
                                        <%= comment.content %>
                                        <br>
                                        <small>
                                            <%= comment.user.name %>
                                        </small>
                                    </p>
                                    <% } %>

                            </ul>

                        </div>
                </div>
      
            </li><% } %>
        </ul>
    </div>
        </section>

    </body>
</html>